* {
  padding: 0;
  margin: 0;
}
body,
html {
  overflow-x: hidden;
}

.heading {
  background-color: rgb(24, 24, 24);
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 26px;
}

.menu {
  display: inline-flex;
  position: relative;
}

.menu li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}
.menu li:hover {
  color: gray;
}

/* .collection{

} */
.filter-btns {
  /* position: absolute; */
  display: flex;
  color: white;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  /* margin-top: 31px; */
  box-sizing: border-box;
}
.filter-btns button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  border: 1px solid rgb(47, 47, 47);
}

.filter-btns button.active {
  background-color: #080707; /* Highlight color */
  color: white;
}

.filter-btns button.inactive {
  background-color: #f4f4f4; /* Default background color */
  color: black;
}

.cart-link li {
  color: white;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
}

.main-page {
  background-color: rgb(232, 231, 231);
  /* background-color: red; */
  min-height: 100vh;
  color: rgb(2, 2, 2);
  width: 100%;
  /* margin: auto; */
  padding: 1px;
}
.product-image {
  width: 250px;
}

.banners-box {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 71px;
}

.banners {
  width: 100%;
  height: 500px;
  z-index: 1;
}

.title-box {
  background-color: rgb(24, 24, 24);
  text-align: center;
  margin: 30px 40px -30px 10px;
  border: 1px solid black;
  color: white;
}

.products-grid {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  gap: 20px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.product-design {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 500px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  text-align: center;
  color: black;
}

.product-design:hover {
  transform: scale(1.05);
}
/* .show-more-btn {
  text-align: center;
}

.show-more-btn button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(24, 24, 24);
  color: white;
  font-size: 1.1rem;
  border: 1px solid white;
  cursor: pointer;
  transition: all 6s ease-in-out;
  height: fit-content;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

Apply the animation to the button */

/* .show-more-btn button {
  animation: bounce 1s infinite;
} */

.product-info {
  margin-top: 20px;
  line-height: 1.3;
}
.back-btn {
  width: fit-content;
  padding: 15px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: white;
  margin: 10px;
  display: flex;
  align-items: center;
}

.preview {
  background-color: white;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 15px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}
.preview-img-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-img {
  width: 70%;
}
aside {
  width: 60%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

aside .info {
  line-height: 1.2;
}

.add-to-cart-btn {
  margin-top: 40px;
  width: 80%;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .add-to-cart-btn.active {
  background-color: black;
  color: white;
  transform: scale(0.95);
} */
.add-to-cart-btn.added {
  background-color: black;
  color: white;
  transform: scale(0.95);
}

.add-to-cart-btn:active {
  transform: scale(0.98);
}

.add-to-cart-btn:disabled {
  cursor: not-allowed; /* Make cursor look like it's disabled */
  background-color: #c6e1c6;
}

/* .positive {
  background-color: black;
  border-color: white;
  color: white;
} */

.empty-cart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.empty-cart-msg {
  text-align: center;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.empty-cart-msg button {
  padding: 20px;
  background-color: black;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
}
.cart-page {
  min-height: 100vh;
  padding: 25px 15px 10px 15px;
}

.cart-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

.cart-item {
  display: grid;
  border-bottom: 2px solid black;
  margin-top: 40px;
}
.cart-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid black;
  height: 150px;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  font-size: 1.2rem;
}
.product {
  display: flex;
  align-items: center;
  width: 30%;
}

.product img {
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

.price {
  width: 5%;
}

.quantity {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.total {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
  padding-right: 10px;
}
.mini-checkout-box {
  width: 100%;
  display: flex;
  justify-content: right;
  font-size: 1.2rem;
}

.mini-checkout {
  width: 35%;
  flex-direction: column;
  height: 360px;
  font-family: Arial, Helvetica, sans-serif;
}

.subtotal,
.tax,
.discount {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 15px 0px;
  border-bottom: 1px solid black;
}
.grand-total {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 15px 0px;
  font-weight: bold;
}

.checkout-btns {
  height: 300px;
  text-align: center;
  font-size: 1.3rem;
}

.proceed-to-checkout-btn,
.continue-shopping-btn {
  padding: 10px;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  text-transform: uppercase;
}

.checkout-modal {
  position: fixed;
  background-color: rgba(11, 11, 11, 1);
  top: 150px;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  z-index: 100;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.checkout-modal-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 20px;
}

.checkout-summary {
  display: flex;
  width: 100%;
  position: relative;
  overflow-y: auto;
  padding: 20px;
  justify-content: space-between;
  min-height: 65vh;
}

.review-order {
  width: 55%;
  border: 2px solid red;
  max-height: 500px;
  min-height: 150px;
  overflow-y: auto;
}
.review-order-div {
  display: flex;
  flex-direction: row;
  height: 150px;
  border-bottom: 2px solid rgb(249, 247, 247);
}

/* .review-order-div:not(:last-child) {
  border-bottom: 2px solid rgb(249, 247, 247);
} */
.review-product {
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  padding: 2px;
}
.review-product img {
  height: 90px;
  width: 90px;
}
.review-product-aside {
  width: 60%;
  font-size: 1.3rem;
  text-align: right;
  line-height: 1.5;
}
.edit-btns {
  margin-top: 5px;
}
.update-item-btn,
.remove-item-btn {
  cursor: pointer;
  padding: 5px;
  font-size: 1.1rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  margin-left: 10px;
}
.order-summary {
  width: 33%;

  border: 2px solid red;
  height: fit-content;

  margin-right: 40px;
  padding: 10px;
}
.order-info {
  border-bottom: 1px solid white;
  height: 200px;
  margin-bottom: 15px;
}
.items,
.before-tax,
.estimated-tax {
  display: flex;
  justify-content: space-between;
  line-height: 3;
  font-size: 1.4rem;
}
.order-total {
  display: flex;
  justify-content: space-between;
  color: red;
  font-size: 1.8rem;
}
.order-btn {
  margin: 15px 0px;
  padding: 13px;
  font-size: 1.2rem;
  border: 2px solid white;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 300px;
}

.close-checkout-btn-box {
  height: fit-content;
  text-align: center;
}
.close-checkout-btn-box button {
  padding: 20px;
  width: 350px;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  color: white;
  border: none;
  text-transform: uppercase;
}

.order-page {
  min-height: 100vh;
  padding: 30px;
}
.order-list {
  border: 2px solid black;
  background-color: black;
  border-radius: 20px;
  /* padding: 5px; */
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}
.order-details-header {
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 70px;
  font-size: 1.3rem;
  align-items: center;
}
.order-details {
  display: flex;
  width: 100%;
  background-color: rgb(239, 240, 240);
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.order-desc {
  display: flex;
  width: 53%;
  font-weight: bold;
}
.order-desc img {
  height: 200px;
  width: 200px;
}
.order-desc-info {
  line-height: 1.4;
  width: 60%;
}
.footer {
  background-color: rgb(20, 20, 20);
  padding: 50px 0px;
  color: white;
  height: fit-content;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
}
.footer-titles {
  text-transform: uppercase;
  font-size: bold;
  font-size: 1.1rem;
  color: rgb(151, 151, 151);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.enquiries,
.shop-info,
.socials {
  line-height: 2;
  text-align: center;
}

.newsletter-sub {
  text-align: center;
  margin: 10px 0px 50px 0px;
}

.newsletter-sub input {
  margin-top: 30px;
  padding: 10px 10px 10px 3px;
  height: 18px;
  width: 280px;
  border: none;
  border-bottom: 1px solid white;
  background-color: rgb(3, 3, 3);
  color: rgb(250, 250, 250);
  outline: transparent;
  font-size: 1rem;
}
.newsletter-sub button {
  padding: 11px 20px;
  width: 130px;
  border: 1px solid white;
  text-transform: uppercase;
  background-color: white;
  color: black;
  cursor: pointer;
}
